{#
  InilineImage.
  Appears in single or double column content.
  This is a very generic way to handle images that we don't know much about.
  For bespoke layout we may have different enforced ratios/srcset etc.
  But for custom content these assumptions probably are fine!
  ---
  CMS _data:
    -
  ---
  args:
    src,
    imageWidth='wide',
    wantsIntersection=true
  ---
#}

{# import components #}
{% from "components/Wrap.njk" import Wrap with context %}

{% macro InlineImage(
  src,
  imageWidth='wide',
  wantsIntersection=true
) %}
  {# render nothing if there's not src #}
  {% if src %}
    <div class="InlineImage">
      {% set flavour = 'content' if imageWidth === 'wide' else 'readable' %}
      {% call Wrap(flavour=flavour, flows=true) %} {# content width Wrap with flow #}
        <div
          class="PaddedImage{{ ' js--wants-intersection' if wantsIntersection }}"
        >
          {{ imagesComputed[src] | safe }}
        </div>
      {% endcall %} {# Wrap #}
    </div>
  {% endif %}
{% endmacro %}
