{#
  RichText
  text from the markdown editor
  ---
  CMS _data:
    -
  ---
  args:
    content=''
      Optional
      String
    align='left'
      OneOf: ['left', 'right', 'center']
  ---
#}

{# import components #}
{% from "components/Wrap.njk" import Wrap with context %}

{% macro RichText(
  content='',
  align='left',
  flag,
  priority
) %}
<div
  class="RichText RichText--align-{{ align }} RichText--{{ 'with-flag' if flag else 'without-flag' }} RichText--priority-{{ priority or '0' }}"
>
  {% call Wrap(flavour='readable', flows=true) %} {# readable width Wrap with flow #}
    {% if flag %}
      <span class="RichText__flag">
        {{ flag }}
      </span>
    {% endif %}
    {% if content %}
      {{ content | markdownify | safe }}
    {% endif %}

  {% endcall %} {# wrap #}
</div>
{% endmacro %}
