/** CTA Buttons
 *  ------------------------------------------------------------------------------------------------
**/

.CTA {
  text-align: center;

  & .CTA__a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: var(--bsu-s) var(--bsu-l);
    vertical-align: top;
    background: var(--colour-primary);
    color: var(--colour-invert);
    border-radius: var(--radius-default);
    font-family: var(--ff-heading);
    font-weight: 800;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:
      color var(--time-transition) ease-in-out,
      background var(--time-transition) ease-in-out;

    &:hover,
    &:focus {
      background: var(--colour-secondary);
    }
  }
}

/* @media (--column-break) { */

.CTA--align-right {
  text-align: right;
}

.CTA--align-left {
  text-align: left;
}

/* } */
